Options -Indexes

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ /nomeDoProjeto/index/default.php?url=$1 [QSA,L]
RewriteRule ^$ /nomeDoProjeto/index/default.php [R]

